body{background-color: linen;
    text-align: center;
    align-items: center;
    padding: 20px;
}


h1{border-radius: 7px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 0.7cm;
    border-style:groove;
    padding: 7px auto ;
    

}


#search{
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    border-width: 5px;
    border-color: gold;

}
.search_bttn{
    background-color: orangered;
    border-radius: 5px;
}
.description{
    font-size: large;
    font-weight: bold;
}
#reviewsHd{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-items: center;
    

}

#reviews{
    background-color:lightgray;
    font-family: 'Times New Roman', Times, serif;
border-radius: 7px;
    
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-align: left;
    
}
#reviewBtn{
    background-color: chartreuse;
    border-radius: 7ex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

#NB{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    border-style:outset;
    box-shadow: 5px;
    

}
#thnkyouforFB{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    border-style: hidden;
    
}